/backend/*/log
/frontend/*/log
/.venv/
/.traefik/public-certificates/
/.portainer_data/
_suggestions.md
_readme-emojies.md
docker-compose-postgres_future.yml
docker-compose-postgREST_original.yml
/.node-red/
/.influxdb/
/.grafana/
/.postgres/
/.api-mqtt-gateway
docker-compose-restful-api.yml
/backend/api-restful/
/backend/api-fastapi-pure-sql/
/.mosquitto/config/pid
