services:
  redis:
    image: redis:latest
    restart: always
    container_name: redis
    command: redis-server --save 20 1 --loglevel warning --requirepass redispass
    volumes:
      - cache:/data
    networks:
      - backnet
volumes:
  cache:
    driver: local
