include:
  # basic services
  - docker-compose-portainer.yml  # service portainer declared
  - docker-compose-traefik.yml  # service traefik declared
  - docker-compose-mariadb.yml  # services db, phpmyadmin, maxscale declared
  - docker-compose-redis.yml  # redis server which provides fast key-value  storage

  # uncomment needed services
  - docker-compose-python-app.yml  # service app declared | depends on: db
  - docker-compose-jury-app.yml  # service jury declared | depends on: db
  - docker-compose-fastapi-sqlmodel.yml  # service api-fastapi-sqlmodel declared | depends on: db


  #- docker-compose-php-nginx.yml  # service php-nginx declared
networks:
  backnet:
    name: back-network







